li a {
    color: white;
}
body {
    background-image:url('img/stardust2.png');
	background-repeat:repeat;
}

body {
    font-family: sans-serif;
}
.sidebar{
  background-color: rgba(0,0,0,0.6);
  width: 5%;
  float: left;
  height: 40px;
  display: inline;
}

.largeCon{
    padding-left: 10px;
    padding-right: 10px;
    min-height: 1000px;
    max-width: 100% !important;
    overflow:auto;
    margin-right: 0px !important;
}

#container {
    border: 1px solid;
    padding: 5px;
}

.container_12{
  display: inline;
    width: 94%;
    float: right;
    background-color: rgba(0,0,0,0.3);
    margin-right: 0 !important;
    margin-left: 0 !important;
}

#logoDiv{
	color: rgb(255, 255, 255);
	display: block;
	font-family: YanoneKaffeesatzThin;
	font-size: 40px;
	font-weight: normal;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	text-rendering: optimizelegibility;
	text-shadow: rgb(51, 51, 51) 1px 1px 1px;
	width: 585px;
}

.item {
    width: 190px;
    height: 120px;
    float: left;
    margin: 1px;
    background: #CCC;
    cursor: -webkit-zoom-in; 
    cursor: -moz-zoom-in;
}
/*.item {
  height: 140px;
  min-width: 100px;
  display: block;
  float: left;
  margin: 1px;
    background: #CCC;
    cursor: -webkit-zoom-in; 
    cursor: -moz-zoom-in;
}*/


.item.w2 {
    width: 250px;
}

.item.h2 {
    height: 230px;
}


.masonry {
  max-width: 960px;
}

.masonry .item {
  width:  292px;
  height: 292px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}
/*.masonry .item {
  height: 140px;
  min-width: 100px;
  display: block;
  float: left;
}*/

.item.w1 { width:  292px; content:url('img/landfall-292x292.jpg');}
.item.w2 { width:  444px; content:url('img/coverup-444x292.jpg');}
.item.w3 { width:  140px; height: 140px; content:url('img/letsleave-140x140.jpg');}
.item.w4 { width:  140px; height: 140px; content:url('img/diamond-140x140.jpg');}

.item.w5 { width:  292px; content:url('img/driftingaway-292x292.jpg');}
.item.w6 { width:  292px; content:url('img/breakingup-292x292.jpg');}
.item.w7 { width:  292px; content:url('img/expectingwinter-292x292.jpg');}

.item.w1a { width:  292px;}
.item.w2a { width:  444px;}
.item.w3a { width:  140px; height: 140px;}
.item.w4a { width:  140px; height: 140px;}

.item.w5a { width:  292px}
.item.w6a { width:  292px;}
.item.w7a { width:  292px;}

/*.item.h2 { height: 100px; content:url('img/stardust.png');}
.item.h3 { height: 140px; content:url('img/stardust.png');}
.item.h4 { height: 140px; content:url('img/stardust.png');}*/

button {
  font-size: 20px;
}

#addcontent a{
  color:white;
}

li.is-loading {
  background-color: black;
  background-image: url('http://desandro.github.io/imagesloaded/assets/loading.gif');
}